/* Step 5.2 Put an overlay content here */
&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
    pinctrl-names = "default", "sleep";
    mysensor: mysensor@69{
        compatible = "i2c-device";
        status = "okay";
        reg = < 0x69 >;
    };
};

&pinctrl {
	// I2C1
	/omit-if-no-ref/ i2c1_default: i2c1_default {
		group1  {
			psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
					<NRF_PSEL(TWIM_SDA, 1, 15)>;
		};
	};

	/omit-if-no-ref/ i2c1_sleep: i2c1_sleep {
		group1  {
			psels = <NRF_PSEL(TWIM_SCL, 1, 14)>,
					<NRF_PSEL(TWIM_SDA, 1, 15)>;
			low-power-enable;
		};
	};
	//UART0
	uart0_default: uart0_default{
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 20)>,
				 	<NRF_PSEL(UART_RX, 0, 22)>;
		};
	};
	uart0_sleep: uart0_sleep {
		group1{
			psels = <NRF_PSEL(UART_TX, 0, 20)>,
					<NRF_PSEL(UART_RX, 0, 22)>;
			low-power-enable;
		};
	};

};
&uart0 {
	status = "okay";
	current-speed = <9600>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart1_default>;
	pinctrl-names = "default", "sleep";
};

/{
	zephyr,user {
        ds18b20-gpios = <&gpio0 25 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
    };
};